<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
<!---	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
-->

    <title>certificate</title>
</head>
<body>
   <!--certificate wrapper-->
   <div class="certificate-wrapper">
        <div class="certificate-background">
            <div class="rect"></div>
            <div class="rectangle bottom"></div>
            <div class="tri1"></div>
            <div class="tri2"></div>
            <div class="tri3"></div>
            <div class="tri4"></div>
            <div class="tri5"></div>
            <div class="tri6"></div>
            <div class="tri7"></div>
            <div class="tri8"></div>
            <div class="recttopbotm"></div>
            <div class="recttopbotm1"></div>
            <div class="recttopbotm2"></div>
            <div class="recttopbotm3"></div>
            <div class="recttopbotm4"></div>
            <div class="recttopbotm5"></div>
            <div class="recttopbotm6"></div>
            <div class="recttopbotm7"></div>


        </div>  
    
            <div class="certificate-content">
                <div class="title">certificate</div>
                <div class="subtitle">of Appreciation</div>
                <div class="initial-content"><i>This Certificate is proudly presented to:</i></div>
                <div class="candidate-name">Akshay Dhanmane</div>
                
                <div class="sign"><i>SIGNATURE</i></div>
                
                <div class="date"><i>DATE</i></div>

                <div class="certificate-logo">
                    <img src="./image/certificate-logo.png">
                </div>
            
            </div>  
            
            </div>
    </div>



</body>
</html>